.container {
  width: 80%;
  max-width: 1200px;
  min-width: 600px;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.header {
    z-index: 1;
    position: fixed;
    overflow: hidden;
    background-color: white;
    width: 80%;
    max-width: 1200px;
    min-width: 600px;
    height: 50px;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.header_list {
  text-align: center;
  display: flex;
  margin-top: 15px;
}

.header_item {
  display: inline-flexbox;
  font-size: large;
  font-weight: 400;
  text-transform: uppercase;
  margin-right: auto;
  margin-left: auto;
}

.footer {
  overflow: hidden;
  background-color: white;
  border-top: 1px solid rgb(238, 238, 238);
  bottom: 0;
}

.footer_name {
  float: left;
}

.footer_template {
  float: right;
}

.footer_template a {
  color: midnightblue;
}

.profile {
  display: flex;
  padding-bottom: 2rem;
  padding-top: 100px;
}

.profile_all {
  display: -ms-flexbox;
  display: inline-flexbox;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
}

.profile_img {
  min-width: 100px;
  float: left;
}

.profile_text {
  float: left;
  margin-left: 30px;
  text-align: left;
}

.profile_author {
  font-weight: 800;
  font-size: 2rem;
}

.profile_description {
  font-weight: 600;
  line-height: 1.2; 
}

.social {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-right: 8px;
  max-width: 20%;
}

.social svg {
  width: 20px;
  height: 20px;
}

.news {
  margin: 0;
  padding-bottom: 1rem;
}

.news_title {
  font-weight: 600;
  font-size: 25px;
}

.news_list {
  text-align: left;
  margin-top: 10px;
}

.news_item {
  text-align: left;
  display: flex;
  margin-left: 20px;
  /* line-height: 0; */
}

.news_date {
  float: left;
  font-weight: 500;
  min-width: 90px;
  display: inline-flexbox;
}

.news_content {
  margin-left: 15px;
  display: inline-flexbox;
  text-align: left;
}

.main {
  margin: 0;
  /* margin-bottom: 50px; */
}

.main p {
  line-height: 2;
}

.chapter {
  border-top: 1px solid #eee;
  margin-bottom: 10px;
}

.md a {
  color: rgb(58, 94, 124);
}

.chapter_title {
  margin-top: 20px;
  font-weight: 600;
  font-size: 30px;
}

.pub_title {
  font-size: 20px;
  font-weight: 600;
}

.pub_title a {
  margin-left: 10px;
}

.pub_author {
  margin-left: 21px;
}

.pub_author b {
  font-weight: 800;
}

.pub_des {
  margin-left: 21px;
}

.exp_des {
  display: inline-block;
}

.exp_des a {
  text-decoration: underline;
}